DATABASE_URL="postgresql://username:password@host:port/database"
CORS_ORIGINS="http://localhost:3000, http://localhost:8000"

AZURE_TENANT_ID="your-tenant-id"
AZURE_CLIENT_ID="your-client-id"
AZURE_CLIENT_SECRET="your-client-secret"